<pane id="wrap{{sezione}}">
    <div class="bar bar-header" id="header{{sezione}}">
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="changeView('home')">Indietro</a>
    </div>
    <content has-header="true" padded="true" scroll="false">
        <h1 id="evttitle" ng-repeat="assoc in associazioni | filter:{id:idass}">{{assoc.nome}}</h1>
        <h1 id="evtsub">Eventi</h1>
        <scroll id="scroller" class="scroll" direction="y">
            <ul id="listaeventi" class="list">
                <li ng-repeat="assoc in associazioni">
                    <a ng-href="#/sezassoc/{{sezione}}/{{comune}}/{{associazione}}/{{idass}}/eventi/{{assoc.nome}}">
                        <p class="nome">{{assoc.nome}}</p>
                        <span class="posiz"><i class="ion-location"></i>{{assoc.posizione}}</span>
                        <span class="time"><i class="ion-clock"></i>19:00</span>
                    </a>
                </li>
            </ul>
        </scroll>
    </content>
</pane>