<ion-view id="wrapevento">
    <ion-content has-header="true" padded="false" scroll="false">
        <div id="map" class="{{animation}} {{mapsize}}">
            <!--<div class="expmap expevt"><i class="ion-close-round"></i>Chiudi</div>-->
            <!--<div id="mapovrlay" ng-click="espandi()" class="{{mapdisp}}"></div>

            <div id="mapcontrols">
                <button id="btnespandi" class="button button-energized {{espclass}}" ng-click="espandi()">
                    <i class="ion-arrow-expand"></i>
                </button>
                <button id="btnclose" class="button button-energized {{clclass}}" ng-click="chiudi()">
                    <i class="ion-arrow-shrink"></i>
                </button>
            </div>-->
            <google-map location="address" type="road" class="map"></google-map>
        </div>
        <ion-scroll class="scroll" direction="y" id="evtscroll">
            <div class="row">
                <div class="col coldata">                
                    <div id="data">
                        <div id="giorno">{{evento.data[0]}}</div>
                        <div id="mese">{{evento.data[1] | lowercase}}</div>
                    </div>                
                </div>
            </div>
            <div class="row maininfo">
                <div class="col" id="luogo">
                    <i class="ion-clock"></i>
                    <p>{{evento.orario}}</p>
                </div>
            </div>
            <div class="row maininfo">
                <div class="col" id="luogo">
                    <i class="ion-location"></i>
                    <p>{{evento.posizione}}</p>
                </div>
            </div>
            <div class="row">
                <div id="associazione">
                    <p>{{associazione.nome}}</p>
                </div>
            </div>
            <div class="row">
                <div id="nome">
                    <p>{{evento.nome}}</p>
                </div>
            </div>
            <div class="row">
                <div id="descrizione">
                    <p>{{evento.descrizione}}</p>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>