@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("opentype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
}

.scroll{
    width: 100%;
    height: 100%;
}

#listacomuni, #listaassociazioni{
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 800 !important;
    color: #fff !important;
    line-height: 1.8;
}

#listacomuni .item, #listaassociazioni .item{
    color: #fff;
    background: none;
    text-align: center;
    border: none;
}

#listaassociazioni .item{
    text-align: left;
}

#listacomuni .item a, #listaassociazioni .item a{
    background: none;
    font-size: 2.2em;
    font-weight: 800;
    color: #fff;
}

#wrapcultura{
    background-color: #e74c3c;
    color: #fff;
}

#wrapambiente{
    background-color: #23ae5f;
    color: #fff;
}

#wrapimprenditoriagiovanile{
    background-color: #3a97d3;
    color: #fff;
}

#wrapeventi{
    background-color: #e74c3c;
    color: #fff;
}

#seztitle{
    font-weight: 100;
    font-size: 5em;
    color: #fff;
    text-align: center;
    padding: 15px 40px;
}

#comune h1{
    font-weight: 100;
    color: #fff;
    font-size: 3em;
    text-align: center;
}

#listaassociazioni .item{
    border: 1px solid #c73526;
    border-left: none;
    border-right: none;
}

#listaassociazioni .item p.nome{
    font-weight: 400;
    font-size: .6em;
    color: #fff;
    margin-bottom: 2px;
}

#listaassociazioni .item p.posiz{
    font-weight: 600;
    color: #791307;
    font-size: .5em;
}

.posiz .ion-location{
    margin-right: 5px;
}

.mnitem{
    width: 150px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.mnitem a{
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}

.col{
    width: 50%;
    font-family: 'Open Sans';
    text-align: center;
}

#homewrapper{
    background-color: #1c242d;
    color: #fff;
}

#asstitle{
    font-family: 'Open Sans';
    font-size: 2em;
    font-weight: 400;
    color: #fff !important;
    text-align: center;
}

#btninfo{
    font-weight: 400;
    font-size: 1.5em;
}

#btneventi{
    font-weight: 400;
    font-size: 1.5em;
}

.btnass{
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
}

.btnass i{
    background-color: #fff;
    width: 60px;
    font-size: 1.5em;
    line-height: 60px;
    border-radius: 60px;
    margin: 0 auto 10px auto;

}

#wrapimprenditoriagiovanile .btnass i{
    color: #3a97d3;
}

#wrapcultura .btnass i{
    color: #e74c3c;
}

#wrapambiente .btnass i{
    color: #23ae5f;
}